/*********** dafault values ***********/

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
    --outline-color: #d9d9d9;
    --border-radius: 20px;
    --card-padding: 5px;
}

/*********** reset values ***********/

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

form,
fieldset,
label,
button,
input {
    border: none;
    margin: 0;
    padding: 0;
}

legend {
    padding: 0;
    float: left;
}

label {
    white-space: nowrap;
}

* {
    font-family: "Raleway", sans-serif;
}

/*********** global ***********/

.global-container {
    width: 100%;
    max-width: 1440px;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-inline: 50px;
    margin-bottom: 35px;
}

.icon {
    color: var(--main-color);
}

.button-search-location,
.label-filter-location {
    cursor: pointer;
}

/*********** header ***********/

.header-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.logo {
    width: 62px;
    padding: 30px 50px;
}

.nav-container {
    display: flex;
    height: 35px;
    gap: 68px;
    padding-inline: 50px;
}

.nav-link {
    box-sizing: border-box;
    border-top: 2px solid white;
    padding-top: calc(35px - 16px);
}

.nav-link:hover {
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
}

/*********** form ***********/

.label-filter-location,
.label-search-location,
.button-search-location,
.input-filter-location,
.input-search-location,
.legend-filter-location {
    font-weight: 700;
    font-size: 18px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.informations-title {
    margin-bottom: 8px;
}

/*********** infos search ***********/

#search-location {
    display: flex;
    width: 377px;
}

#search-location .icon {
    color: black;
}

.input-search-location,
.label-search-location,
.button-search-location {
    height: 49px;
    box-sizing: border-box;
}

.input-search-location {
    border-block: 1px solid var(--main-bg-color);
    width: calc(377px - 50px - 132px);
    padding-left: 20px;
}

.input-search-location::placeholder {
    color: black;
    opacity: 1;
}

.input-search-location:focus {
    outline: none;
}

.label-search-location {
    width: 50px;
    min-width: 50px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--main-bg-color);
    background-color: var(--main-bg-color);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.button-search-location {
    width: 132px;
    color: white;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.small-display-button-content {
    display: none;
}

/*********** infos filter ***********/

#filter-location {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

.input-filter-location {
    display: none;
}

.input-filter-location:checked + .label-filter-location {
    background-color: var(--filter-bg-color);
}

.label-filter-location {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 50px;
    gap: 10px;
    padding: 0 19px;
    border-radius: 25px;
    border: 2px solid var(--outline-color);
    font-size: 17px;
}

.label-filter-location:hover {
    background-color: var(--filter-bg-color);
}

.fa-money-bill-wave {
    font-size: 16px;
}

.fa-person {
    font-size: 22px;
}

.fa-heart {
    font-size: 18px;
}

.fa-fire {
    font-size: 20px;
}

/*********** infobar ***********/

.infobar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fa-info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid var(--main-bg-color);
}

/*********** sections ***********/

.section-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#activities,
#accommodations-and-popular .section-container {
    border-radius: var(--border-radius);
    padding: 30px;
    box-sizing: border-box;
}

#accommodations-and-popular .section-container {
    background-color: var(--main-bg-color);
}

.informations-title,
.section-title {
    font-size: 22px;
}

.euro {
    font-weight: 700;
}

.small-title {
    font-weight: 700;
    font-size: 18px;
}

.neutral-star {
    color: var(--main-bg-color);
}

/*********** cards ***********/

.cards-container {
    display: flex;
    gap: 30px;
}

.card-link {
    display: flex;
}

.card {
    display: flex;
    width: 100%;
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
}

.card-image {
    object-fit: cover;
    width: 100%;
}

.card-title {
    font-size: 16px;
}

.card-subtitle {
    font-size: 14px;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.card-rating {
    display: flex;
    height: 12px;
    gap: 1px;
}

.card-rating .fa-xs {
    line-height: 1em;
}

/*********** accommodations and popular ***********/

#accommodations-and-popular {
    display: flex;
    gap: 40px;
}

/*********** accommodations ***********/

#accommodations {
    width: 67%;
}

#accommodations .accommodations-cards {
    flex-wrap: wrap;
}

#accommodations .card-link {
    flex-basis: calc(33.3% - (30px / 3) * 2);
}

#accommodations .card {
    flex-direction: column;
    padding: var(--card-padding);
}

#accommodations .card-image {
    height: 114px;
    min-height: 114px;
    border-top-left-radius: calc(var(--border-radius) - var(--card-padding));
    border-top-right-radius: calc(var(--border-radius) - var(--card-padding));
}

#accommodations .card-content {
    padding-inline: 10px;
    padding-block: 8px;
    gap: 8px;
    justify-content: space-between;
    height: 100%;
}

#accommodations .card-txt {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#accommodations .card-rating {
    height: 13px;
    font-size: 1.06em;
}

/*********** popular ***********/

#popular {
    width: 33%;
}

#popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#popular .card-title {
    margin-top: 10px;
    margin-bottom: 5px;
}

.popular-cards {
    flex-direction: column;
}

#popular .card {
    height: calc(146px - (var(--card-padding) * 2));
    padding: var(--card-padding);
    gap: 15px;
}

#popular .card-image {
    width: 33.3%;
    min-width: 33.3%;
    border-top-left-radius: calc(var(--border-radius) - var(--card-padding));
    border-bottom-left-radius: calc(var(--border-radius) - var(--card-padding));
}

#popular .card-content {
    justify-content: space-between;
}

#popular .card-rating {
    padding-bottom: 5px;
}

/*********** activities ***********/

#activities .card-link {
    flex-basis: calc(25% - (30px / 4) * 3);
}

#activities .card {
    flex-direction: column;
    height: 100%;
}

#activities .card-image {
    height: 380px;
    border-top-left-radius: calc(var(--border-radius) - var(--card-padding));
    border-top-right-radius: calc(var(--border-radius) - var(--card-padding));
}

#activities .card-content {
    padding: 20px;
    justify-content: center;
    height: max-content;
}

/*********** footer ***********/

.footer-container {
    display: flex;
    background-color: var(--main-bg-color);
    margin-inline: 50px;
    gap: 30px;
}

.footer-links {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}

.footer-list-element:not(:last-child) {
    margin-bottom: 15px;
}

/*********** media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {
    #accommodations-and-popular {
        display: flex;
        flex-direction: column;
    }

    #accommodations,
    #popular {
        width: 100%;
    }

    .popular-cards {
        flex-direction: row;
    }

    #popular .card-link {
        flex-basis: calc(33.3% - (30px / 3) * 2);
    }

    #activities .card-image {
        height: 200px;
    }

    .legend-filter-location {
        float: none;
        margin-bottom: 20px;
    }

    .label-filter-location {
        font-size: 16px;
    }
}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.9px) {
    .global-container {
        width: 100%;
        max-width: 100%;
    }

    .header-container {
        flex-direction: column;
        align-items: center;
    }

    .main-container {
        margin-inline: 0;
    }

    #informations .form-container {
        padding-inline: 20px;
    }

    .nav-container {
        width: 100%;
        height: 36px;
        padding-inline: 0;
        gap: 0;
    }

    .nav-link,
    .nav-link:hover {
        border-top: 0;
    }

    .nav-link {
        width: 100%;
        box-sizing: border-box;
        border-bottom: 2px solid var(--main-bg-color);
        padding-top: 0;
        padding-bottom: calc(36px - 16px);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-link:hover {
        border-bottom: 2px solid var(--main-color);
        color: var(--main-color);
    }

    #search-location {
        position: relative;
        width: 100%;
    }

    .button-search-location {
        width: 49px;
        min-width: 49px;
        position: absolute;
        right: 0;
        border-radius: var(--border-radius);
        z-index: 8;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .input-search-location {
        width: 100%;
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }

    #filter-location {
        row-gap: 20px;
        column-gap: 10px;
    }

    .large-display-button-content {
        display: none;
    }

    .small-display-button-content {
        display: block;
        width: 17px;
        margin-inline: auto;
    }

    .label-filter-location {
        flex-grow: 1;
        flex-basis: calc(50% - (10px / 2));
        font-size: 14px;
    }

    #accommodations-and-popular {
        gap: 15px;
    }

    #accommodations-and-popular .section-container {
        border-radius: 0;
        gap: 15px;
        padding: 20px;
    }

    #accommodations-and-popular #popular {
        padding-block: 30px;
    }

    #accommodations-and-popular #accommodations {
        order: 2;
        background-color: white;
    }

    #activities {
        order: 1;
    }

    .cards-container,
    .footer-container {
        display: flex;
        flex-direction: column;
    }

    .cards-container {
        gap: 15px;
    }

    .activities-cards .card-image {
        height: 141px;
    }

    .footer-container {
        margin-inline: 0;
        padding: 30px;
        gap: 50px;
    }

    .footer-links {
        width: 100%;
        padding: 0;
    }
}
